@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid p-1">

        <div class="mb-2">
        <div class="row ">
            <div class="col-6">
                <h2 class="text-primary">Shop List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Shop" asp-action="Upsert" class="btn btn-primary">
                    <i class="fa-solid fa-plus me-1"></i>   Create New Shop
                </a>
            </div>
            </div>
        </div>
         <div class="p-3 border border-2 border-primary">
            <table id="mydata" class=" text-center pt-2 w-100">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th class="text-center">
                            City
                        </th>
                        <th class="text-center">
                            Address
                        </th>
                        <th class="text-center">
                            PostalCode
                        </th>
                        <th class="text-center">
                            Phone
                        </th>
                        <th class="text-center">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
         </div>
    </div>

@section Scripts{
    <script src="~/js/Shop.js"></script>
}
